*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.app{
  background: #f9f9f9;
}

/* header style */
 
header{
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto; 
 
 }
 
 header img{
   height: 77px;

 }
 .mw{
  max-width: 1080px;
 }
 .fixed{
 
 background: white;
 position: fixed;
 height: 110px;
 top:0;
 left: 0;
 right: 0;
 padding: 0 30px;
 }
 .img-box{
   margin: 0 auto;
   width: 760px;

 }
 .img-box img{
   margin: 17.5px 0;
 }


/* footer style */
.main-footer{
  /* background: red; */
}
.footer{
  color: #7f838a;
  background: #edeef1;
  text-align: center;
  padding: 40px 30px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.render{
  display: block;
  font-size: 16px;
  color:#579EEE;
  font-family: 'Lato', sans-serif;
}
.footer img{
  display: inline-block;
  position: relative;
  height: 24px;
}
.image-link{
  color: #7f838a;
  text-decoration: none;
  margin: 40px 0px;
  /* background: blue; */
  display: block;
}
.image-link span{
  color: #7f838a;
  margin-right: 10px;
 
}

/* form style */

.content{
  margin-top: 110px;
  /* max-width: 1080px; */
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
}
.wraper{
background: #ffffff;
padding: 0 30px;
}
.wrapper-form{
padding: 0 30px;
}
.sub-heading{
  margin: 0 auto;
  padding: 20px 0;
  background: #ffffff;
  width: 760px;
}
h2{
  margin-bottom: 17.5px;
  font-size: 36px;
  color:#515357;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}
.dest-group{
  margin: 20px 0;
}
.dest{
  font-size: 14px;
  color: #808080;
  display: inline;
  margin-right: 10px;
}
h4{
  font-size: 16px;
  margin: 40px 0;
  color: #515357;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
form{
  margin: 0 auto;
  padding: 20px 0;
  background: #f9f9f9;
  width: 760px;
}

.input-box{
  display: flex;
  flex-direction: row;
  max-width: 760px;
  /* justify-content: space-between; */
}

.input-box label{
  width:210px;
  font-size:16px;
  margin: 17.5px 0;
  color: #515357;
}
.input-box label span{
 color: red;
}
.input-box input,.input-box select{
  padding: 4px 4px 4px 15px;
  margin: 17.5px 0;
  outline: none;
  border: 1px solid #d1cfcf;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  font-size: 16px;
  line-height: 1.4;
  display: inline-block;
  width: 100%;
  color: #515357;
  /* flex:1; */
  
}


.input-box div{
  flex-basis: 60%;
}
.input-box div p{
  padding: 10px;
  color: rgb(245, 87, 24);
}
.attach{
  width: 15px;
  height: 15px;

}

 #textarea{
  /* flex-basis: 50%; */
  height: 130px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid #d1cfcf;
}
.field-error{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  flex: 1;
}
.field-error p{
  font-size: 17.5px;
  
}
#phoneNumber{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#cc{
  flex-basis: 20%;
  width: 100px;
}
#phone{
  flex-basis: 75%;

}
.btn-container{
  margin: 0 auto 80px;
  padding: 20px 0;
  text-align: center;
}
.sub{
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  padding: 10px 15px ;
  background: #4f65f1;
  color: white;
  border-radius: 3px;
  border-color: #4b60e5;
  letter-spacing: 2px;  
}

.sub:disabled{
 background-color: #515357;
 color: white;
}

  .fileinput{
    padding: 0 0 0 15px;
    display: flex;
    align-items: center;
    position: relative;

   }
  .center{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
  }

  .fileinput .error{
    color: red;
    font-size: 16px;
    margin-left: 10px;
  }
  .fileinput span{
    color: green;
    margin-left: 10px;
    font-size: 16px;
  }
  .recaptcha{
    padding-left: 15px;
  }
  .custom-btn{
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    width:230px;
    height: 40px;
    color: #515357;
    font: normal 400 16px/1.8 'Lato';
    border-radius: 3px;
    margin: 17.5px 0;
    min-width: 230px;
  }
  input[type="file"] {
    /* display: none; */
    }



@media(max-width:799px){

form, .img-box,.sub-heading{
   width: auto;
 }
 .input-box{
   flex-direction: column;
 }
 .field-error{
   padding: 0px;
 }
 .recaptcha{
  padding-left: 0px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
}

select{
  background: #e2e2e2;
  padding: 4px 40px 4px 15px;
  line-height: 1.4;
  background-image: url("https://img.icons8.com/ios/50/000000/expand-arrow--v2.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right 10px top 5px;
  appearance: none;
}
select:hover{
  background: #c0c0c0;
  background-image: url("https://img.icons8.com/ios/50/000000/expand-arrow--v2.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right 10px top 5px;
  appearance: none;
}




.file-container{
  display: flex;
  flex-direction: row;
  max-width: 230px;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 15px;
  height: 40px;
  border: 1px solid #e2e2e2;
  background: #EBECF0;
  border-radius: 3px;
  margin: 17.5px 0;
}

.file-container .button-clip{
  opacity: 0.4;
  margin-right: 10px;
}

.file-container .text{
  text-transform: uppercase;
  opacity: 0.45;
  font-size: 15px;

}
input[type='file']{
    
  opacity: 0;
  position: absolute;
  left: 0;
}
.success{
  color:green;
  position: absolute;
  margin-left: 240px;
  margin-top: 20px;
  font-size: 17.5px;
  font-weight: 400;
  
}